@import "bootstrap.css";

.topbar  .brand {
	margin: 0;
	padding: 2px 10px;
}

.brand div {
	background: url('../images/logo_web_small.png');
	width: 96px;
    height: 35px;
}

.bar-badge .bar-image {
	width: 120px;
	height: 120px;
}


#happyHourFilter {
  background-color: #F69d2a ;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#happyHourFilter, #happyHourForm label {
  text-shadow: -0.1em -0.1em #b37212;
  color: #fff;
  font-weight: 800;
}

#happyHourFilter h2 {
  font-size: 18px;
  color: #fff;
}

#happyHourForm label {
  width: 35px;
  font-size: 14px;
  margin-right: 5px;
}

#happyHourForm select {
  width: 100px;
}

#happyHourForm div {
  display: inline;
  float: left;
  margin-left: 5px;
}

#happyHourForm input[type="submit"] {
  display: inline;
  float: left;
  margin-left: 5px;
}

#happyHourFilter form {
  margin-top: 5px;
  margin-bottom: 5px;
 }

#happyHourFilter search {
  margin-right: 10px;
 }
