@import "bootstrap.css";

.topbar  .brand {
	margin: 0;
	padding: 2px 10px;
}

.brand div {
	background: url('../images/logo_web_small.png');
	width: 96px;
    height: 35px;
}

.bar-badge .bar-image {
	width: 120px;
	height: 120px;
}


#happyHourFilter {
  float: left;
  position: relative;
  margin: 12px 12px 3px;
  background: #FBFAFA url(/static/images/find_hh_bar.png) no-repeat scroll 0 0;
  width: 955px;
  height: 41px;
  display: inline;
  z-index: 41;
}

#happyHourForm {
float: left;
position: relative;
}

#happyHourForm .day {
width: 124px;
left: 200px;
}

#happyHourForm .dropdown {
position: absolute;
font-size: 15px;
top: 10px;
margin-top: 2px;
}

#happyHourForm .time {
left: 352px;
margin-top: 0;
}

#happyHourForm .location {
width: 170px;
left: 444px;
}

#happyHourForm .submit {
  color: #666;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  left: 624px;
  top: 11px;
}

html { margin:0px; padding:0px;overflow-Y: scroll;}

body { background: #ffffff; margin:0px; padding:0px; color:#3d3e3d; font-family:Verdana, "lucida grande",tahoma,arial,sans-serif; font-size:13px;}

/*HEAD*/
#contentedor { display:block; width: 940px; margin: auto;background: #f0f1f3;}
#head { background: url(bg_head.png) repeat-x; height: 95px; margin-top: 10px;-moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px;}
.logo { display: block; background: url(logo_web.png) no-repeat; width:186px; height: 67px; float: left; margin: 10px 0 0 5px;}
.box_gris { display: block; background: #393939; float: right; padding: 7px 10px; color: #fff; margin-right: 10px; }
	.box_gris_top {-moz-border-radius:10px 10px 0px 0px;-webkit-border-radius:10px 10px 0px 0px; margin-top: -30px; margin-right: 40px}
	.box_gris_down {-moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px 10px 10px;}
	.i_newsletter { display: block; border: 1px solid #ccc; background: url(bg_newsletter.png) #fff; padding: 5px; margin-left: 10px;}
	.i_bottom { display: block; border: 1px solid #ccc; height:28px; background: url(bg_newsletter.png) #fff; padding: 5px; margin-left: 5px;}


	ul { display: inline; margin: 0px; padding: 5px 5px;}
	li { list-style: none; display: inline; margin: 0 5px;}
	li a { color: #fff; text-decoration:none;} li a:hover { color: #fff;text-decoration:underline;}
	
#contenido { display: block; width: 600px; float: left; padding: 5px; }
#sidebar { display: block; width: 300px; float: right; padding: 10px;}
	
h1 { font-size: 18px; color: #f8981d;}
h2 { font-size: 15px; color: #f8981d; margin: 0 10px 5px 0;}

#bar_horizontal { display: block; border: 1px solid #ccc; padding: 10px; width: 576px;-moz-border-radius:10px;-webkit-border-radius:10px ; background: url(bg_bar.png) bottom repeat-x #fff;}
#bar_vertical { display: block; border: 1px solid #ccc;padding: 10px; width: 120px;-moz-border-radius:10px;-webkit-border-radius:10px ; background: url(bg_bar.png) bottom repeat-x #fff; margin: 10px 10px 10px 0; float: left;}
	.nombre { color: #497af4; font-size: 16px; font-weight: bold; margin: 0 0 3px 0; display: block;}
		.nombre a { text-decoration: none; color: #497af4; } .nombre a:hover { text-decoration: none; color: #497af4; text-decoration: underline; }
	.descripcion {color: #363636; font-size: 12px;  margin: 0 0 3px 0; display: block;}
	.direccion {color: #525252; font-size: 12px; font-style: italic;  margin: 0 0 3px 0; display: block;}
	.barrio {color: #f89e2a; font-size: 12px; font-weight: bold;  margin: 0 0 3px 0; display: block;}

#footer { background: url(bg_footer.png) repeat-x;-moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px; 10px 10px; border-top:1px solid #f69c27; color: #fff; text-shadow:0.1em 0.1em 0.05em #333; margin-bottom: 10px;}
.logo_footer { display: block; background: url(logo_footer.png) no-repeat; width:118px; height:45px; margin: 0 10px;}
.icon_fb { display: block; background: url(icon_fb.png); width: 35px; height: 35px; margin: 5px 10px 0 10px;}
.icon_tw {display: block; background: url(icon_tw.png); width: 35px; height: 35px;margin: 5px 10px 0 10px;}


.clear { clear: both;}
.left { float:left;}
.right{ float:right;}
.last { margin-right:0px;}

