{% extends 'base.html' %}

{% load thumbnail %}

{% block container %}



    <div id="contenido">
        {% if query %}
            <h3>Resultados</h3>
            {% for result in page.object_list %}
            	{% comment %}
                <p><a href="{{ result.object.url }}">{{ result.object.name }}</a></p>
                {% endcomment %}
                {% with result.object as bar %}
		<div id="bar_vertical" class="span3">

                      <a href="{{ bar.url }}">
		      	{% if bar.image %}
		      	{% thumbnail bar.image 120x120 as thumb %}
		      	<img src="{{ thumb.url }}" class="left"//>
		      	{% else %}
		      	<img src="{{ STATIC_URL }}images/foto_bar.png" class="left"//>
                        {% endif %}
                      </a>
	          <div class="right" style=" width: 120px;">
				<span class="nombre"><a href="{{ bar.url }}" title="Entrar al Bar">{{ bar.name }}</a></span>
					<div class="clear"></div>
					<span class="descripcion">{{ bar.description|truncatewords:8 }}</span>
					<div class="clear"></div>
					<span class="direccion">{{ bar.address }}</span>
					<div class="clear"></div>
					<span class="barrio">
					{{ bar.neighborhood.name }}{% if bar.subneighborhood %} - {{ bar.subneighborhood }}{% endif %}
					</span>
			</div>
			<div class="clear"></div>

				        </div>
		        {% endwith %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
      </div>
{% endblock %}
