<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	{% block extra_head %}{% endblock %}

  </head>

  <body>
  <div id="contentedor">
	<div id="head">
		<a href="{% url mainapp_home %}" title="Primer Trago - vamos a emborrachar a buenos aires" class="logo"></a>

		<div class="box_gris box_gris_down">
			<ul>
				<li><a href="">FB Connect</a></li>
				<li><a href="">Registrarse</a></li>
				<li><a href="">Ingresar</a></li>
			</ul>
		</div>
		<div class="clear"></div>
		{% comment %}
		<div class="box_gris box_gris_top" style="height: 28px;">
			<div class="left" style="display: block; margin-top: 5px;">Newsletter</div>
			<form action="post" class="left">
				<input type="text" name="" value="email" onclick="this.value=''" class="i_newsletter left" />
				<input type="submit" name="ok" value="OK" class="i_bottom left" />
			</form>
		</div>
		<div class="clear"></div>
	    {% endcomment %}
		
	</div>


	{% comment %}
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{% url mainapp_home %}">
          	<div></div>
          </a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <form class="pull-left" action="/search/">
            <input type="text" name="q" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
	{% endcomment %}

{% block bfilter %}
      <div>
        <div id="happyHourFilter" class="row" style="">
          <div class="span4 title">
            Encuentra tu Happy Hour
          </div>
          <div class="span8 ">
            <div class="row">
            <form action="/" method="GET" id="happyHourForm">
              <input type="hidden" name="filter" value="1"/>
              <div>
                <label for="id_weekday">El</label>
                {{ filter_form.weekday }}
              </div>
              <div>
              <label for="id_hour">a las</label>
              {{ filter_form.hour }}
            </div>
            <div>
              <label for="id_neighborhood">en</label>
              {{ filter_form.neighborhood }}
            </div>
              <input type="submit" class="btn submit" value="Ir" class="medium">
        </form>
      </div>
      </div>
          <div class="span3 search">
             <form action="/search/">
              <input type="text" name="q" placeholder="Buscar" class="medium">
            </form>
          </div>
      </div>
{% endblock %}

    <div class="container">
	{% block container %}
	{% endblock %}
    </div> <!-- /container -->

    <div class="clear"></div>
	<div id="footer">
		<div class="logo_footer left"></div>
		<div class="left" style="display: block; margin-top: 15px; ">Copyright &copy; 2011 PrimerTrago.com. All Rights Reserved</div>
		<a href="http://www.facebook.com/pages/PrimerTrago/217774161625916" title='Hazte fan!' class="icon_fb right"></a>
		<a href="https://twitter.com/#!/primertrago" class="icon_tw right" title="Seguinos en Twitter!"></a>
		<div class="clear"></div>
	</div>


	</div>
  </body>
</html>
