{% extends "base.html" %}
{% load thumbnail %}

{% block container %}
	<div id="contenido">
		
		{% if featured %}
		<h1>Destacados</h1>
		{% for bar in featured %}
		<div id="bar_horizontal">
			<a href="{{ bar.url }}">
			{% if bar and bar.image.url %}
      		{% thumbnail bar.image 200x200 crop as thumb %}
      		<img src="{{ thumb.url }}" class="left"/>
      		{% else %}
      		<img src="{{ STATIC_URL }}images/foto_bar.png" class="left"/>
      		{% endif %}
      		</a>
			
			<div class="right" style=" width: 450px;">
				<span class="nombre"><a href="{{ bar.url }}" title="Entrar al Bar">{{ bar.name }}</a></span>
					<div class="clear"></div>
					<span class="descripcion">{{ bar.description|truncatewords:15 }}</span>
					<div class="clear"></div>
					<span class="direccion">{{ bar.address }}</span>
					<div class="clear"></div>
					<span class="barrio">
					{{ bar.neighborhood.name }}{% if bar.subneighborhood %} - {{ bar.subneighborhood }}{% endif %}
					</span>	
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
      	{% endfor %}
      	{% endif %}

        {% for bar in bars %}
		<div id="bar_vertical" {% if forloop.counter|divisibleby:"4" %}style="margin-right: 0;"{% endif %}>
			{% if  bar and bar.image.url %}
      		{% thumbnail bar.image 120x120 as thumb %}
      		<img src="{{ thumb.url }}" class="left" style="margin-bottom: 5px;" />
      		{% else %}
      		<img src="{{ STATIC_URL }}images/foto_bar.png"/>
      		{% endif %}
			
			<div class="right" style=" width: 120px;">
				<span class="nombre"><a href="{{ bar.url }}" title="Entrar al Bar">{{ bar.name }}</a></span>
				<div class="clear"></div>
				<span class="descripcion">{{ bar.description|truncatewords:8 }}</span>
				<div class="clear"></div>
				<span class="direccion">{{ bar.address }}</span>
				<div class="clear"></div>
				<span class="barrio">
				{{ bar.neighborhood.name }}{% if bar.subneighborhood %} - {{ bar.subneighborhood }}{% endif %}
				</span>				
			</div>
			<div class="clear"></div>			
		</div>
		{% if forloop.counter|divisibleby:"4" %}<div class="clear"></div>{% endif %}
        {% endfor %}	
	</div>
	<div id="sidebar">
		<img src="{{ STATIC_URL }}css/banner.png" />
	</div>
	<div class="clear"></div>	
	



     {% comment %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      {% for bar in featured %}
      <div class="row">
      	{% if bar.image %}
      	{% thumbnail bar.image 200x200 crop as thumb %}
      	<img src="{{ thumb.url }}"/>
      	{% else %}
      	<img src="{{ STATIC_URL }}images/foto_bar.png"/>
      	{% endif %}
      	<h2>{{ bar.name }}</h2>
      	<p>{{ bar.description }}</p>
      	<a class="btn" href="{{ bar.url }}">read more</a>
      </div>
      {% endfor %}

     <div class="row">
        <div class="span5">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
     </div>
     {% endcomment %}


<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('#id_hour').timepicker({
		ampm: false,
		hourMin: 8,
		timeFormat: 'hh:mm'
	});
});
</script>

{% endblock %}

{% comment %}
        <div class="span3 bar-badge">
        <div class="bar-image">
      	</div>
          <h2>{{ bar.name }}</h2>
          <p>{{ bar.address }}</p>
          {% for happy in bar.happyhour_set.all %}
          {# <p>{{ happy.description }}<p> #}
          {% endfor %}
          <a class="btn" href="{{ bar.url }}">View details &raquo;</a></p>
        </div>
        {% endcomment %}
